<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>用户注册</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/register.css">
</head>

<body>
    <div id="register" class="col-lg-6 col-sm-6 col-xs-12 col-md-6">
        <div id="registerHeader">
            <h2 class="form-signin-heading">用户注册</h2>
        </div>
        <div id="registerForm">
            <form class="registerForm" action="/register" method="POST">
                <div class="form-group">
                        <label for="inputEmail">邮箱</label>
                        <input type="email" id="inputEmail" class="form-control" name="email"
                            placeholder="请输入你的邮箱" required autofocus>
                </div>
                <div class="form-group">
                    <label for="inputNickname">昵称</label>
                    <input type="text" id="inputEmail" class="form-control" name="nickname"
                        placeholder="请输你的昵称" required>
                </div>
                <div class="form-group">
                    <label for="inputPassword">密码</label>
                    <input type="password" id="inputPassword" class="form-control" name="password"
                        placeholder="输入密码" required>
                </div>
                <input type="checkbox" value="agree"> <a href="#">同意注册协议</a>
                <button class="btn btn-lg btn-success btn-block" type="submit">注册</button>
            </form>
        </div>
        <div id="toLoginForm">
            <label>已有账号？</label><a href="/login">点击登录</a>
        </div>
    </div>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $('.registerForm').on('submit',function(e){
            e.preventDefault();
            var formData = $(this).serialize();
            $.ajax({
                url: '/register',
                type: 'post',
                data: formData,
                dataType: 'json',
                success: function(data){
                    var errCode = data.err_code;
                    if(errCode === 0){
                        // window.alert('注册成功');
                        window.location.href = '/index.html';
                    } else if(errCode === 1){
                        window.alert('邮箱或昵称已存在');
                    } else if(errCode === 2){
                        window.alert('昵称已存在');
                    } else if(errCode === 500){
                        window.alert('服务器忙，请稍后重试！');
                    }
                }
            })
        })
    </script>
</body>

</html>